/* ************************************ */
/* LAYOUT */
/* ************************************ */

.app {
  display: flex;
  flex-direction: column;
}

@supports (display: grid) {
  .app {
    display: grid;
  }
}
