/* ************************************ */
/* HEADER STYLES */
/* ************************************ */

.ui.menu {
  border-radius: 0;
  margin-bottom: 0;
}

.custom-yellow-header {
  font-family: "Pacifico", cursive;
  transition: all 0.3s;
}

.custom-yellow-header:hover {
  color: #fbbd08 !important;
}

.custom-hide {
  opacity: 0 !important;
  transition: opacity 0.3s;
}

.custom-yellow-header:hover .custom-hide {
  opacity: 1 !important;
}

@media screen and (max-width: 766px) {
  .ui.stackable.menu .right.menu {
    padding-left: 20px;
    padding-right: 20px;
  }
}
